
<div class="w-75 mx-auto">
<p class="fs-1">Edit products</p>
{{#if errorEditProduct}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error</strong>
  {{errorEditProduct}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<form action="/edit-product/{{product._id}}" method="post">
<div class="form-floating mb-3">
  <input type="text" class="form-control" value="{{product.title}}" name="title" id="floatingInput" placeholder="title">
  <label for="floatingInput">Title</label>
</div>
<div class="form-floating mb-3">
  <textarea  class="form-control" style="height:200px;" name="description"  placeholder="Description" id="floatingTextarea">{{product.description}}</textarea>
  <label for="floatingTextarea">Description</label>
</div>
<div class="form-floating mb-3">
  <input  value="{{product.image}}" type="text" class="form-control" name="image" id="floatingInput" placeholder="image">
  <label for="floatingInput">Image</label>
</div>
<div class="input-group mb-3">
  <span  value="{{product.price}}" class="input-group-text bg-light" id="basic-addon1">$</span>
  <input type="number" class="form-control" name="price" placeholder="price" aria-label="Username" aria-describedby="basic-addon1">
</div>
<button type="submit" class="btn btn-primary mt-3">Edit product</button>
</form>
</div>